#img-03{
	height: 300px; 
	width: 500px;
    padding-bottom: 10px;
}
@media(max-width: 1280px){
	#img-03 {
		width: 400px;
		height: 300px;
        padding-bottom: 20px;
	}
}

@media(max-width: 1024px){
	#img-03 {
		width: 400px;
		height: 300px;
        padding-bottom: 20px;
	}
}

@media(max-width: 540px){
	#img-03 {
		width: 400px;
		height: 300px;
        padding-bottom: 20px;
	}
}
@media(max-width: 414px){
	#img-03 {
		width: 350px;
		height: 230px;
	}
}
@media(max-width: 375px){
	#img-03 {
		width: 300px;
		height: 200px;
	}
}

#img-04{
    padding-top: 10px;
	height: 280px; 
	width: 1000px;
    align-items: center;
    padding-bottom: 20px;
}
@media(max-width: 1024px){
	#img-04 {
		width: 950px;
		height: 230px;
	}
}
@media(max-width: 820px){
	#img-04 {
		width: 700px;
		height: 230px;
	}
}
@media(max-width: 540px){
	#img-04 {
		width: 450px;
		height: 180px;
	}
}
@media(max-width: 414px){
	#img-04 {
		width: 350px;
		height: 150px;
	}
}
@media(max-width: 375px){
	#img-04 {
		width: 300px;
		height: 120px;
	}
}

#img-05{
	height: 420px; 
	width: 560px;
    align-items: center;
}
@media(max-width: 1280px){
	#img-05 {
		width: 500px;
		height: 350px;
	}
}
@media(max-width: 1024px){
	#img-05 {
		width: 400px;
		height: 350px;
	}
}
@media(max-width: 540px){
	#img-05 {
		width: 500px;
		height: 400px;
	}
}
@media(max-width: 414px){
	#img-05 {
		width: 350px;
		height: 260px;
	}
}
@media(max-width: 375px){
	#img-05 {
		width: 350px;
		height: 250px;
	}
}
