#img-11{
	height: 500px; 
	width: 520px;
    align-items: center;
}
@media(max-width: 1280px){
	#img-11 {
		width: 450px;
		height: 430px;
       
	}
}
@media(max-width: 1024px){
	#img-11 {
		width: 400px;
		height: 430px;
       
	}
}
@media(max-width: 540px){
	#img-11 {
		width: 450px;
		height: 430px;
        padding-bottom: 10px;
	}
}
@media(max-width: 414px){
	#img-11 {
		width: 350px;
		height: 330px;
        padding-bottom: 10px;
	}
}
@media(max-width: 375px){
	#img-11 {
		width: 320px;
		height: 300px;
	}
}

#img-12{
	height: 500px; 
	width: 460px;
    align-items: center;
}
@media(max-width: 1024px){
	#img-12 {
		width: 400px;
		height: 430px;
	}
}
@media(max-width: 820px){
	#img-12 {
		width: 500px;
		height: 430px;
	}
}
@media(max-width: 540px){
	#img-12 {
		width: 500px;
		height: 430px;
	}
}
@media(max-width: 414px){
	#img-12 {
		width: 370px;
		height: 300px;
	}
}
@media(max-width: 375px){
	#img-12 {
		width: 320px;
		height: 280px;
	}
}

#img-13{
	height: 380px; 
	width: 420px;
    align-items: center;
}
@media(max-width: 1024px){
	#img-13 {
		width: 400px;
		height: 380px;
        padding-bottom: 20px;
	}
}
@media(max-width: 540px){
	#img-13 {
		width: 450px;
		height: 380px;
        padding-bottom: 20px;
	}
}
@media(max-width: 414px){
	#img-13 {
		width: 350px;
		height: 260px;
        padding-bottom: 10px;
	}
}
@media(max-width: 375px){
	#img-13 {
		width: 300px;
		height: 220px;
        padding-bottom: 10px;
	}
}

.body p{
	text-align: justify;
}
