@import url('https://fonts.googleapis.com/css?family=Roboto:300');

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");


.blogcard {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    user-select: none;
  }
  
  .blogcard {
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container-02 {
    position: relative;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-image: url(../img/community/card/card_background.jpg);
    
  }
  
  .contain-card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-image: url(../img/community/card/card_background.jpg);
    background-size: cover;
  }
  
    @keyframes borderHighlight {
      40% {
        border-color: transparent;
      }
    }
  
  .container-02 .glassmorphic-card1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
    width: 250px;
    height: 400px;
    padding: 40px 30px;
    margin: 28px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    overflow: hidden;
  }
  
  /* .container-02 .glassmorphic-card1 .imgBox {
    position: relative;
    text-align: center;
  }
  
  .container-02 .glassmorphic-card1 .imgBox i {
    font-size: max(80px);
    color: rgba(255, 255, 255, 0.1);
  } */
  
  .container-02 .glassmorphic-card1 .contentBox {
    position: relative;
    height: 400px;
    text-align: center;
    transition: 0.5s;
  }
  
  .contentBox h6 {
     color: white;
     padding-bottom: 20px;
    
  }
  
  .container-02 .glassmorphic-card1 .contentBox:before {
    position: absolute;
    top: -50px;
    left: -125px;
    width: 100%;
    font-size: 4em;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    transform: rotate(-90deg);
    color: rgba(0, 0, 0, 0.2);
  }
  
  
  .container-02 .glassmorphic-card1 .contentBox p {
    font-size: 1em;
    color:white;
    font-weight: 300;
  }
  
  .paddingS {
    margin-top: 5px;
  }   
  .container-02 .glassmorphic-card1 .contentBox a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    background: #fff;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  
  .container-02 .glassmorphic-card1 .contentBox a:hover {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #1b8b00;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }

  .cardDetails {
    height: 250px;
  }
  
  @media screen and (max-width: 767px) {
    .contain-card {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100%;
      width: 100%;
      background-image: url(../img/community/card/card_background.jpg);
      background-size: cover;
    }
  
  
    .container-02:after {
      content: "";
      position: absolute;
      top: 0;
      left: -100px;
      width: 100%;
      height: 100%;
      background-image: url(../img/community/card/card_background.jpg);
      background-size: cover;
      clip-path: circle(20% at 20% 20%);
    }
  }