h3 {
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.banner {
    color: white;
    background: url('../img/community/card/card8.jpg') top left/cover no-repeat;
    height: 330px;
}

#banner2 {
    display: none;
}

@media screen and (max-width: 520px) {
    .banner1 {
        display: none;
    }


}

@media screen and (max-width: 519px) {

    #banner2 {
        display: block;
    }
}

@media (max-width: 576px) {

    .container,
    .container-sm {
        max-width: 528px;
    }
}

@media (max-width: 768px) {

    .container
     {
        max-width: 525px;
    }

   
}

.youtubecontainer {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 30px auto;
}

.youtube-player {
    display: block;
    margin: 20px auto;
    padding-bottom: 56.25%;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    cursor: hand;
    cursor: pointer;
    display: block;
}

img.youtube-thumbnail {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    height: auto;
}

div.youtube-play-btn {
    height: 72px;
    width: 72px;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;
    position: absolute;
    background: url("https://freepngimg.com/thumb/categories/1398.png") no-repeat center center;
  background-size: 72px 72px;
}

.youtube-iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}