*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* btn css */

.btn_lf{
  font-size: 18px;
  width: 100px;
  height: 40px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 20px;
  margin-left: 20px;

  background-color: white;
  color: black;
  border: 2px solid #228c22;
}
.btn_lf:hover{
  background: rgba(34, 140, 34, 1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

/* Banner CSS */
.LF-banner{
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.LF-content{
  text-align: center;
}
.LF-content h1{
  font-size: 120px;
  font-family: 'Futara';
  color: #fff;
  font-weight: 600;
  transition: 0.5s;
}
.LF-content h1:hover{
  -webkit-text-stroke: 2px #fff;
  color: transparent; 
}

.LF-content p{
  font-size: 25px;
  font-family: 'Calisto MT';
  color: #fff;
  margin-top: 10px;
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
}
.video-LFbanner{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9){
  .video-LFbanner{
      width: 100%;
      height: auto;
  }
}
@media (max-aspect-ratio: 16/9){
  .video-LFbanner{
      width: auto;
      height: 100%;
  }
}

/* Map CSS */
.Lf-map{
  min-height: 100vh;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Lf-map #map{
position: absolute;
width: 100%;
height: 100vh;
top: 0;
bottom: 0;
}

/* About Section CSS */
.Lf-about{
  min-height: 100vh;
  width: 100%;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  background-color: #fff;
  /* margin-top: -70px; */
}
.about-area{
  padding-top: 5%;
}
.about-img-LF{
  position: relative;
}
.about-img-LF:before{
  position: absolute;
  content: '';
  /* right: -30px;
  top: 30px; */
  border: 5px solid rgba(0,0,0,0.3);
  width: 360px;
  height: 360px;
  top: -25px;
}
.about-img-LF img{
  width: 100%;
  /* margin-right: 20px; */
}
.about-text-LF{
  padding-top: 5%;
  /* margin-left: 40px; */
}
.about-text-LF h2{
  font-family: lobster;
  font-size: 50px;
  padding-left: 30px;
}
.about-text-LF p{
  font-size: 16px;
  padding-left: 30px;
  text-align: justify;
}
