*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* btn css */

.btn_lf{
  font-size: 18px;
  width: 100px;
  height: 40px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 20px;
  margin-left: 20px;

  background-color: white;
  color: black;
  border: 2px solid #228c22;
}
.btn_lf:hover{
  background: rgba(34, 140, 34, 1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

/* Banner CSS */
.LF-banner{
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.LF-content{
  text-align: center;
}
.LF-content h1{
  font-size: 120px;
  font-family: 'Futara';
  color: #fff;
  font-weight: 600;
  transition: 0.5s;
}
.LF-content h1:hover{
  -webkit-text-stroke: 2px #fff;
  color: transparent; 
}

.LF-content p{
  font-size: 25px;
  font-family: 'Calisto MT';
  color: #fff;
  margin-top: -30px;
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
}
.video-LFbanner{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9){
  .video-LFbanner{
      width: 100%;
      height: auto;
  }
}
@media (max-aspect-ratio: 16/9){
  .video-LFbanner{
      width: auto;
      height: 100%;
  }
}

/* Map CSS */
.Lf-map{
  background-color: #000;
  margin-left: 30px;
  /* margin-right: 25px; */
  min-height: 70vh;
  position: relative;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Lf-map #map{
  background-color: #000;
position: absolute;
width: 100%;
height: 100vh;
top: 0;
bottom: 0;
}

/* About Section CSS */
.Lf-about{
  min-height: 100vh;
  width: 100%;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  background-color: #fff;
  /* margin-top: -70px; */
}
.about-area{
  padding-top: 5%;
}
.about-img-LF{
  position: relative;
}
.about-img-LF:before{
  position: absolute;
  content: '';
  right: -5px;
  left: 10px;
  border: 5px solid rgba(0,0,0,0.3);
  width: 350px;
  height: 360px;
  top: -25px;
}

@media screen and (max-width: 480px) {
  .about-img-LF img{
    width: 75%;
    margin-left: 25px;
  }
  .about-img-LF:before {
    width: 300px;
    height: 310px;
    left: 25px;
  }
  .about-text-LF p{
    padding-bottom: 25px;
  }
}
@media screen and (min-width: 750px) and (max-width: 992px) {
  /* .about-img-LF img{
    width: 10%;
    margin-left: 25px;
  } */
  .about-img-LF:before {
    width: 470px;
    height: 540px;
    left: 45px;
  }
  .about-text-LF p{
    padding-bottom: 25px;
  }
}
@media screen and (min-width: 500px) and (max-width: 750px) {
  .about-img-LF:before {
    width: 350px;
    height: 400px;
    left: 45px;
    top: 5px;
  }
   .about-img-LF img{
    margin-top: 20px;
  }
  }

.about-img-LF img{
  width: 80%;
  /* margin-right: 20px; */
}
.about-text-LF{
  padding-top: 5%;
  /* margin-left: 40px; */
}
.about-text-LF h2{
  font-family: lobster;
  font-size: 50px;
  padding-left: 30px;
}
.about-text-LF p{
  font-size: 16px;
  padding-left: 30px;
  text-align: justify;
}

.about-text1-LF p{
  font-size: 16px;
  padding-top: 60px;
  text-align: center;
}

 /*--------------------------------------------------------------
# LF-about-2
--------------------------------------------------------------*/

.lifeforce #d5{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0px;
  
  padding-bottom: 0px;
  position: relative;
  padding-top: 30px;
}

@media (max-width: 768px) {
  .features .nav-link i {
    padding: 0;
    line-height: 1;
    font-size: 36px;
  }
}

@media (max-width: 575px) {
  .features .nav-link {
    padding: 15px;
  }

  .features .nav-link i {
    font-size: 24px;
  }
}
.lifeforce .LF-para2{
  text-align: justify;
  /* align-items: center;
  justify-content: center; */
  padding-top: 100px;
}
@media (max-width: 768px) {
  .lifeforce .LF-para2 {
    padding: 0;
  }
}
@media (max-width: 575px) {
  .lifeforce .LF-para2 {
    padding: 0;
  }
}
.lifeforce .button {
  background-color: transparent;
  border: 2px solid #1b8b00;
  
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
}

.lifeforce .button a{
  color: #1b8b00;
  font-weight: 500;
}

.lifeforce .button:hover{
  background-color: #1b8b00;
}
.lifeforce .button:hover a{
  color: #fff;
  font-weight: 500;
}

.play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(var(--color-primary) 50%, rgba(0, 131, 116, 0.4) 52%);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  overflow: hidden;
}

.play-btn:before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 2s;
  animation: pulsate-btn 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(0, 131, 116, 0.7);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

.play-btn:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.play-btn:hover:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}

.play-btn:hover:after {
  border-left: 15px solid var(--color-primary);
  transform: scale(20);
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

#local_img2{
  width: 250px;
  height: 250px;
}
@media(max-width: 540px){
#local_img1 {
  width: 350px;
  height: 300px;
      
}
}
@media(max-width: 414px){
#local_img1 {
  width: 350px;
  height: 310px;
}
}
@media(max-width: 375px){
#local_img1 {
  height: 290px;
}
  
}

.lifeforce  .play-btn {
  left: calc(43% - 35px);
  top: calc(45% - 35px);
  
}


/* Carbon Footprint */
.Lf-CF{
  /* background-color: #ffe53b; */
  background-image: url(../img/LifeForce/LF-CF.png);
  min-height: 100vh;
  font-family: 'Open Sans',sans-serif;
  display: flex;
}
.blog-slider {
  width: 98%;
  position: relative;
  max-width: 800px;
  margin: auto;
  background: rgba(255,255,255,0.3);
  box-shadow: 0px 14px 80px rgba(0,0,0, 0.2);
  padding: 25px;
  border-radius: 25px;
  height: 400px;
  transition: all 0.3s;
}
@media screen and (max-width: 992px) {
  .blog-slider {
    max-width: 680px;
    height: 400px;
  }
}
@media screen and (max-width: 768px) {
  .blog-slider {
    min-height: 500px;
    height: auto;
    margin: 180px auto;
  }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider {
    height: 350px;
  }
}
.blog-slider__item {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .blog-slider__item {
    flex-direction: column;
  }
}
.blog-slider__item.swiper-slide-active .blog-slider__img img {
  opacity: 1;
  transition-delay: 0.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > * {
  opacity: 1;
  transform: none;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
  transition-delay: 0.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
  transition-delay: 0.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
  transition-delay: 0.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
  transition-delay: 0.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
  transition-delay: 0.7s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
  transition-delay: 0.8s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
  transition-delay: 0.9s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
  transition-delay: 1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
  transition-delay: 1.1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
  transition-delay: 1.2s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
  transition-delay: 1.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
  transition-delay: 1.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
  transition-delay: 1.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
  transition-delay: 1.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
  transition-delay: 1.7s;
}
.blog-slider__img {
  width: 300px;
  flex-shrink: 0;
  height: 300px;
  /* background-image: linear-gradient(147deg, #eedecf 0%, #009e6d 74%); */
  box-shadow: 4px 13px 30px 1px rgba(0,0,0, 0.2);
  border-radius: 20px;
  transform: translateX(-80px);
  overflow: hidden;
}
.blog-slider__img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  opacity: 0.8;
}
.blog-slider__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 0;
  border-radius: 20px;
  transition: all 0.3s;
}
@media screen and (max-width: 768px) {
  .blog-slider__img {
    transform: translateY(-50%);
    width: 90%;
  }
}
@media screen and (max-width: 576px) {
  .blog-slider__img {
    width: 95%;
  }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider__img {
    height: 270px;
  }
}
.blog-slider__content {
  padding-right: 25px;
}
@media screen and (max-width: 768px) {
  .blog-slider__content {
    margin-top: -80px;
    text-align: center;
    padding: 0 30px;
  }
}
@media screen and (max-width: 576px) {
  .blog-slider__content {
    padding: 0;
  }
}
.blog-slider__content > * {
  opacity: 0;
  transform: translateY(25px);
  transition: all 0.4s;
}
.blog-slider__code {
  color: #7b7992;
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
}
.blog-slider__title {
  font-size: 24px;
  font-weight: 1000;
  color: #fff;
  margin-bottom: 20px;
}
.blog-slider__text {
  color: #fff;
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 1.5em;
  /* text-align: justify; */
}
.blog-slider__button {
  display: inline-flex;
  /* background-image: linear-gradient(147deg, #eedecf 0%, #1b8b00 74%); */
  border: 2px solid #1b8b00;
  padding: 15px 35px;
  border-radius: 50px;
  color: #fff;
  box-shadow: 0px 14px 80px rgba(0,0,0, 0.4);
  text-decoration: none;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
}
.blog-slider__button:hover{
  background-color: rgba(27,139,0,0.5);
  color: #fff;
}
@media screen and (max-width: 576px) {
  .blog-slider__button {
    width: 100%;
  }
}
.blog-slider .swiper-container-horizontal > .swiper-pagination-bullets, .blog-slider .swiper-pagination-custom, .blog-slider .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}
.blog-slider__pagination {
  position: absolute;
  z-index: 21;
  right: 20px;
  width: 11px !important;
  text-align: center;
  left: auto !important;
  top: 50%;
  bottom: auto !important;
  transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination {
    transform: translateX(-50%);
    left: 50% !important;
    top: 205px;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 8px 0;
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
  }
}
.blog-slider__pagination .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  display: block;
  border-radius: 10px;
  background: #fefefe;
  opacity: 0.2;
  transition: all 0.3s;
}
.blog-slider__pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #1b8b00;
  height: 30px;
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination .swiper-pagination-bullet-active {
    height: 11px;
    width: 30px;
  }
}