/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.banner-container {
  width: 100%;
  position: relative;
  background-image: url(../img/PES/bgq.jpg);
  background-size: cover;
}

.banner-container .banner-container-h2{
    font-family: 'Poppins, Helvetica, Arial, Lucida, sans-serif';
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 1px;
    color: #507c60;
    text-align: center;
}
.banner-container .banner-container-para{
  font-family: 'Poppins, Helvetica, Arial, Lucida, sans-serif';
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2em;   
  color:  #385342!important;
}

/*banner img*/
.banner-container .PES-img{
  margin-top: -100px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-container .animated{
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@keyframes up-down{
  0%{
      transform: translateY(10px);
  }
  100%{
      transform: translateY(-10px);
  }
}

@media (max-width: 575px) {
  .banner-container .PES-img {
    margin-top: -220px;
  }
  .banner-container .banner-container-h2{
    margin-top: -150px;
  }
}

@media (min-width: 575px) and (max-width: 860px){
  .banner-container .PES-img {
    margin-top: -300px;
  }
  .banner-container .banner-container-h2{
    margin-top: -250px;
  }
}

/*--------------------------------------------------------------
# Details
--------------------------------------------------------------*/
.details .content+.content {
    margin-top: 20px;
  }
  
  .details .content h3 {
    font-weight: 600;
    font-size: 26px;
    color: #447961;
  }
  
   
  .details .content p:last-child {
    margin-bottom: 0;
    text-align: justify;
  }
