@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.forstryH2 {
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}


.cardContainer {
    justify-content: center;
    align-items: center;
    padding: 0%;
    border-radius: 10px;
}


.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    min-height: 400px;
    flex: 1;
    background-color: white;
    height: 450px;
    margin: 1%;
    border-radius: 20px;
    border-color:#1b8b00;
    text-align: center;
}

.card-image-containor {
    flex-wrap: wrap;
    flex-shrink: 0;
    height: 170px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 10px;
}

.fond-bold {
    font-weight: bolder;
}

.card-1 {
    background-image: url("../img/community/card/image1.jpg");
}

.card-2 {
    background-image: url("../img/community/card/image2.jpg");
}

.card-3 {
    background-image: url("../img/community/card/image3.jpg");
}

.card-4 {
    background-image: url("../img/community/card/image4.png");
}

.card-5 {
    background-image: url("../img/community/card/image5.jpg");
}

.card-6 {
    background-image: url("../img/community/card/image6.jpg");
}

.card-7 {
    background-image: url("../img/community/card/image7.jpg");
}

.card-8 {
    background-image: url("../img/community/card/image8.jpg");
}

.card-9 {
    background-image: url("../img/community/card/image9.jpg");
}

.card-10 {
    background-image: url("../img/community/card/image10.jpg");
}

.card-11 {
    background-image: url("../img/community/card/image11.jpg");
}

.card-12 {
    background-image: url("../img/community/card/image12.jpg");
}

.card a {
    background-color: #1b8b00;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 10px 30px;
    border-color: #1b8b00;
    border-radius: 20px;
    text-decoration:dashed ;
}

.card:hover {
    background-color: #1b8b00(27,139,0);
    color: rgb(0, 0, 0);
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}

.footer-part {
    margin-top: 20px;
    margin-bottom: 0%;
}